.class{
    padding: 10px;
    gap: 10px;
    max-width: 200px;
    width: 40%;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.285);
    
}
.ClassTitle{
    padding-bottom: 40px;
}
button{
    width: 50%;
}